<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flan Casero</title>
</head>
<body>
    <h1>Flan Casero</h1>
    
    <p>Un postre clásico, suave y cremoso, hecho con huevos, leche y caramelo, perfecto para cualquier ocasión.</p>
    <hr>
    <h2>Ingredientes</h2>
    <ul>
        <li>6 huevos</li>
        <li>500ml de leche entera</li>
        <li>300g de azúcar para el flan</li>
        <li>100g de azúcar para el caramelo</li>
        <li>1 cucharadita de esencia de vainilla</li>
    </ul>
    
    <h2>Preparación</h2>
    <ol>
        <li>Calentar la leche con la vainilla e infusionar. Agregarle la mitad del azúcar y llevar a hervor.</li>
        <li>Mezclar los huevos y el resto del azúcar. Una vez que la leche con el azúcar y la vainilla están a temperatura ambiente, unir ambas preparaciones y colar.</li>
        <li>Verter el contenido en un molde con caramelo. Tapar con papel aluminio y colocar en una asadera con agua.</li>
        <li>Hornear en horno suave, unos 45 minutos. Se debe retirar una vez que el flan esté firme.</li>
        <li>Para el caramelo hay que colocar azúcar y unas cucharaditas de agua en una cacerola y cocinar hasta que se funda.</li>
    </ol>
    
    <a href="https://cookpad.com/co/recetas/12219218-flan-casero?ref=search&search_term=flan%20de%20huevo%20casera%20con%204%20huevo" target="_blank">Ver receta en <strong>Cookpad</strong></a><br>
    <a href="../views/instructivo1.html">Ver receta de <i>Paella Valenciana</i></a><br>
    <a href="../../index.html">Volver al inicio</a>
</body>
</html>